@font-face {
  font-family: leagueGothic;
  src: url('League-Gothic/LeagueGothic-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: franklinGothic;
  src: url('franklingothicfs_demi_macroman/franklingothic-demi-webfont.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: franklinGothic;
  src: url('franklingothicfs_book_macroman/franklingothic-book-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('blacktop.png') left no-repeat;
  background-size: cover;
  color: #A2DEF9;
  font-family: franklinGothic;
  font-weight:normal;
  font-size:16px;
}

h1,h2,h3{
  font-family: leagueGothic;
  line-height:1;
  text-align:right;
}

h1{
  font-size: 1000%;
  font-style:italic;
  margin:0px;
  padding:0px;
}

h2{
  font-size: 900%;
  font-style:italic;
}

.yellow{
  color: #FFF8A1;
}

.smallh1 {
  font-size:50%;
}

.section{
  padding-right:10%;
  padding-left:10%;
}

.description {
  font-size:250%;
  line-height:1.2em;
}

.graphimg{
  width:100%;
  height:auto;
  margin-bottom: 2.4em;
  margin-top: 2.4em;
}

.vertimg{
  height:300px;
  float:left;
  margin-right:10px;
}

@media (max-width:991px) {
#fp-nav{
  display: none;
}
.description{
  font-size: 350%;
}
}
